<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../static/css/main.css" rel = "stylesheet">
    <link rel="stylesheet" href="../static/font/font-awesome/css/font-awesome.min.css">
    <title>Title</title>
</head>
    <body>
        <header class="head">
            <div class="logo">
                <img src="../static/img/logo.png">
            </div>
        </header>
        <div class="main">
            <div class="sectio_1">
                <div class="obtik">
                    <div class="foto_dudu">
                        <img src="../static/img/dudu.png" class="foto">
                    </div>
                    <div class="naming">
                        <div class="naming-all">
                            <div class="chertochka"></div><br>
                            <h1 class="naming-text">Mobile </h1>
                            <h1 class="naming-text">Development</h1>
                            <p class="texxtt">Image by <a href="https://vk.com/dementr2302" class="ssilka-1">Dementr</a></p>
                            <button class="knopka1 white"><p class="text-st">ABOUT ME</p></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectio_1_2">
                <div class="rasoplpg">
                        <div class="blok">
                            <div class="osnova">
                                <div class="conteyner1">
                                    <div class="ot">
                                            <div class="ooo">
                                                <span>
                                                    <i class="fa fal fa-bar-chart" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <h4 class="srt">STRATEGY</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blok">
                            <div class="osnova">
                                <div class="conteyner1">
                                    <div class="ot">
                                            <div class="ooo">
                                                <span>
                                                    <i class="fa fal fa-paint-brush" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        <h4 class="srt">UX DESIGN</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blok">
                            <div class="osnova">
                                <div class="conteyner1">
                                    <div class="ot">
                                            <div class="ooo">
                                                <span>
                                                    <i class="fa fal fa-code" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        <h4 class="srt">DEVELOPMENT</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blok">
                            <div class="osnova">
                                <div class="conteyner1">
                                    <div class="ot">
                                            <div class="ooo">
                                                <span>
                                                    <i class="fa fal fa-bug" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        <h4 class="srt">TESTING</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="sectio_2">
                <div class="blok23 left-block">
                    <h4 class="perpl small-text">MY SKILLS</h4>
                    <h1 class="white monik">Expertise</h1>
                    <p class="stili_sans-serif perpl otstup">Two decades of hands-on experience and hundreds of millions in spend have yielded a diverse skillset that touches on most every function. This is a partial list.
                    </p>
                    <button class="knopka white">RESUME     <i class="fa fa-id-card-o" aria-hidden="true"></i></button>
                </div>
                <div class="blok23 center-block">
                      <div class="stili_sans-serif perpl otstup">
                        <p>— Brand Development & Advertising</p>
                        <p>— Direct-Response Marketing</p>
                        <p>— Search Marketing: SEO & PPC</p>
                        <p>— Digital Video & TV, including Super Bowl</p>
                        <p>— Streaming & Radio</p>
                        <p>— Out-of-Home</p>
                        <p>— Influencer Marketing: Podcast & YouTube</p>
                        <p>— Email Marketing, Design & Dev</p>
                        <p>— Social Media (Paid & Organic)</p>
                    </div>
                </div>
                <div class="blok23 rith-block">
                    <div class="stili_sans-serif perpl otstup">
                        <p>— Website Design & Development</p>
                        <p>— Advertising Creative (All Mediums)</p>
                        <p>— Identity Design</p>
                        <p>— Conversion Rate Optimization</p>
                        <p>— Copywriting (Ad, Web, & Product)</p>
                        <p>— Media Planning & Buying (up to $100MM)</p>
                        <p>— Content Strategy & Execution</p>
                        <p>— Business Development</p>
                    </div>
                </div>
            </div>
            <div class="sectio_3">
                    <div class="oblik">
                        <div class="text-let-bat">
                            <div class="chetire-bloka">
                                <div class="conteyner_1">
                                    <div class="content-chek">
                                        <div class="shapka"></div>
                                        <h3 class="hh3">236</h3>
                                        <p class="ustal">CUPS OF COFFEE</p>
                                        <p class="slochno">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                                <div class="conteyner_1">
                                    <div class="content-chek">
                                        <div class="shapka"></div>
                                        <h3 class="hh3">17</h3>
                                        <p class="ustal">AWARDS WON</p>
                                        <p class="slochno">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                                <div class="conteyner_1">
                                    <div class="content-chek">
                                        <div class="shapka"></div>
                                        <h3 class="hh3">108</h3>
                                        <p class="ustal">HAPPY CLIENTS</p>
                                        <p class="slochno">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                                <div class="conteyner_1">
                                    <div class="content-chek">
                                        <div class="shapka"></div>
                                        <h3 class="hh3">150</h3>
                                        <p class="ustal">PROJECTS FINISHED</p>
                                        <p class="slochno">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="conteyner_2">
                                <div class="content-chekout">
                                <h2 class="hhhhh">Nam ultrices ultrices nec tortor pulvinar esteras loremips est</h2>
                                <p class="otstuppp">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus et netus et malesuada fames. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
                                <button class="buttom-2">DOWNLOAD CV   <i class="fa fa-download" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    <div class="big-rith-blok">
                        <div class="rit-bl">
                            <div class="vn">
                                <h6>NAME</h6>
                                <p class="font-wh">Fred Morrison</p>

                                <h6 class="hh6">BIRTHDAY</h6>
                                <p class="font-wh">25. 05. 1989</p>

                                <h6 class="hh6">ROLE</h6>
                                <p class="font-wh">Lead Designer</p>

                                <h6 class="hh6">EMAIL</h6>
                                <p class="font-wh">dementr@yandex.ru</p>

                                <h6 class="hh6">PHONE</h6>
                                <p class="font-wh">(+987) 987 654 321</p>

                                <h6 class="hh6">WEBSITE</h6>
                                <p class="font-wh">www.dementr.com</p>

                                <h6 class="hh6">LOCATION</h6>
                                <p class="font-wh">New York, USA</p>

                                <h6 class="hh6">INTERESTS</h6>
                                <p class="font-wh">Games, Books, Movies</p>

                                <h6 class="hh6">SOCIAL</h6>
                                <p class="ikon font-wh"><i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-vk" aria-hidden="true"></i> <i class="fa fa-youtube-play" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectio_4">
                <div class="dolchnost">
                    <div class="nazvanie">
                        <h1 class="sizee coloring">Experiences</h1>
                        <p class="pod-nam coloring">Nunc sed blandit libero volutpat sed cras. Risus quis varius quam quisque id. Semper auctor neque vitae tempus quam pellentesque.</p>
                    </div>
                    <div class="ob">
                        <div class="poloska"></div><br>
                        <div class="textik">
                            <div class="data">
                                <p>September, 2016 – May, 2017</p>
                            </div>
                            <div class="opisanie">
                                <h5 class="dolch">Junior Developer</h5>
                                <p class="texit">Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring.</p>
                                <h6 class="dolchk"> Lobrissa / Chicago </h6>
                            </div>
                        </div>
                        <div class="poloska"></div><br>
                        <div class="textik">
                            <div class="data">
                                <p>May, 2018 – Jun, 2019</p>
                            </div>
                            <div class="opisanie">
                                <h5 class="dolch">Senior Developer</h5>
                                <p class="texit">Molestie a iaculis at erat pellentesque adipiscing. Porttitor eget dolor morbi non arcu risus quis varius quam. Odio aenean sed adipiscing diam donec. Id diam maecenas ultricies mi eget mauris.</p>
                                <h6 class="dolchk">  Faucibuse / Seattle </h6>
                            </div>
                        </div>
                        <div class="poloska"></div><br>
                        <div class="textik">
                            <div class="data">
                                <p>Jun, 2019 – December, 2020</p>
                            </div>
                            <div class="opisanie">
                                <h5 class="dolch">Senior Developer</h5>
                                <p class="texit">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus et netus et malesuada fames.</p>
                                <h6 class="dolchk">  Reesturato / New York </h6>
                            </div>
                        </div>
                        <div class="poloska"></div><br>
                        <div class="textik">
                            <div class="data">
                                <p>Dec, 2020 – current</p>
                            </div>
                            <div class="opisanie">
                                <h5 class="dolch">CEO</h5>
                                <p class="texit">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus et netus et malesuada fames.</p>
                                <h6 class="dolchk"> Ercussa / San Francisco </h6>
                            </div>
                        </div>
                        <div class="knop">
                            <button class="cnopka"><h4>CONTACT ME</h4></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectio_5">
                <div class="nazv">
                    <h3 class="perpl san-ser">PRICING</h3>
                    <h1 class="white monik size1">Get yours today</h1>
                    <p class="white ttt ">I use software to help you scale your business operations, grow, and achieve more</p>
                </div>
                <div class="conte">
                    <div class="blochik" >
                    <div class="contentik-1">
                        <div class="vnytrynka white">
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Development</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  App features</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Prototyping</p>
                        </div>
                    </div>
                    <div class="contentik-1">
                        <div class="vnytrynka white">
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Development</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  App features</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Prototyping</p>
                        </div>
                    </div>
                    <div class="contentik-1">
                        <div class="vnytrynka white">
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Development</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  App features</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>  Prototyping</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="knop buttom-1">
                    <button class="cnopka5"><h4>DOWNLOAD</h4></button>
                </div>
            </div>
            <div class="sectio_7">
                <div class="naziv">
                    <p>Software Development</p>
                </div>

                    <div class="phon3">
                            <div class="developer-block">
                                <div class="parametr">
                                    <div class="conterntt-image">
                                        <img src="../static/img/rycy_iphon.jpg" class="image">
                                    </div>
                                    <div class="cotent-text">
                                        <p class="hhh4">App Development</p>
                                        <p class="last_text">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                                       <br><br>
                                        <a href="#" class="ssilka-3">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="developer-block">
                                <div class="parametr">
                                    <div class="conterntt-image">
                                        <img src="../static/img/iphon.jpeg" class="image">
                                    </div>
                                    <div class="cotent-text">
                                        <p class="hhh4">App Development</p>
                                        <p class="last_text">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                                       <br><br>
                                        <a href="#" class="ssilka-3">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="developer-block">
                                <div class="parametr">
                                    <div class="conterntt-image">
                                        <img src="../static/img/1.jpg" class="image">
                                    </div>
                                    <div class="cotent-text">
                                        <p class="hhh4">App Development</p>
                                        <p class="last_text">Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                                       <br><br>
                                        <a href="#" class="ssilka-3">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                    </div>
                <div class="ento-ya">
                    <div class="hz-zach">
                        <p class="texxtt">Image from <a href="#" class="ssilka-1">Dementr</a></p>
                    </div>
                </div>
            </div>
            <div class="sectio_8">
                <div class="left-blok-pink">
                    <div class="obolochka">
                        <div class="naz">
                            <h2 class="coloring geting">Get a demo</h2>
                            <p class="texxt">Amet tellus cras adipiscing enim eu turpis egestas pretium. At quis risus sed vulputate odio ut.</p>
                        </div>
                        <div class="conteny-input">
                            <input class="input" placeholder="Name">
                            <input class="input" placeholder="Company">
                            <input class="input" placeholder="Email">
                            <input class="input" placeholder="Phone">
                        </div>
                        <button class="cnopka2">SUBMIT</button>
                    </div>
                </div>
                <div class="rithe-blok-pink">
                    <div class="obolochka-r">
                        <div class="texit1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas maecenas pharetra convallis posuere morbi.
                        </div>
                        <div class="portfol">
                            <img src="../static/img/mini_dudu.jpeg" class="mini_dudu">
                            <div class="hki" >
                                <h4 class="hh4">Mikkel Smith</h4>
                                <h5 class="hh5">App Developer</h5>
                            </div>
                        </div>
                        <div class="opis">
                            <p class="tet">Quis viverra nibh cras pulvinar mattis. Ornare arcu dui vivamus arcu felis bibendum ut tristique.</p>
                            <p class="tet">Image from <a class="ssilkka" href="https://vk.com/dementr2302">Dementr</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fooo">
                <h6 class="h66">Sample text. Click to select the text box. Click again or double click to start editing the text.</h6>
                <p class="sdno"><a href="#" class="ssilka">Website Templates</a> created with <a href="#" class="ssilka">Website Builder Software</a>.</p>
            </div>
        </div>
    </body>
</html>