<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../static/css/main.css" rel = "stylesheet">
    <title>Title</title>
</head>
    <body>
        <header class="head">
            <div class="logo">
                <img src="../static/img/logo.png">
            </div>
        </header>
        <div class="main">
            <div class="sectio_1">
                <div class="foto_dudu">
                    <img src="../static/img/dudu.png">
                <div class="naming">
                    <p>Mobile </p>
                    <p>Development</p>
                </div>
                </div>
            </div>
            <div class="sectio_2">
                <div class="blok left-block">
                    <p>MY SKILLS
Expertise
Two decades of hands-on experience and hundreds of millions in spend have yielded a diverse skillset that touches on most every function. This is a partial list.
                    </p>
                    <button>RESUME</button>
                </div>
                <div class="blok center-block">
                    <p>
                        Brand Development & Advertising
—Direct-Response Marketing
—Search Marketing: SEO & PPC
—Digital Video & TV, including Super Bowl
—Streaming & Radio
—Out-of-Home
—Influencer Marketing: Podcast & YouTube
—Email Marketing, Design & Dev
—Social Media (Paid & Organic)
                    </p>
                </div>
                <div class="blok rith-block">
                    <p>
                        —Website Design & Development
                        —Advertising Creative (All Mediums)
                        —Identity Design
                        —Conversion Rate Optimization
                        —Copywriting (Ad, Web, & Product)
                        —Media Planning & Buying (up to $100MM)
                        —Content Strategy & Execution
                        —Business Development
                    </p>
                </div>
            </div>
            <div class="sectio_3">
                <div class="conteyner_1">
                    <div class="shapka"></div>
                    <div class="content-chek">
                        <p>236</p>
                        <p>CUPS OF COFFEE</p>
                        <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    </div>
                </div>
                <div class="conteyner_1">
                    <div class="shapka"></div>
                    <div class="content-chek">
                        <p>236</p>
                        <p>CUPS OF COFFEE</p>
                        <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    </div>
                </div>
                <div class="conteyner_1">
                    <div class="shapka"></div>
                    <div class="content-chek">
                        <p>236</p>
                        <p>CUPS OF COFFEE</p>
                        <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    </div>
                </div>
                <div class="conteyner_1">
                    <div class="shapka"></div>
                    <div class="content-chek">
                        <p>236</p>
                        <p>CUPS OF COFFEE</p>
                        <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                    </div>
                </div>
                <div class="conteyner_1">
                    <div class="content-chekout">
                        <p>Nam ultrices ultrices nec tortor pulvinar esteras loremips est</p>
                        <p>Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus et netus et malesuada fames. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
                        <button>DOWNLOAD CV</button>
                    </div>
                </div>
                <div class="big-rith-blok">
                    <div>
                    <p>
                        NAME
                        Fred Morrison

                        BIRTHDAY
                        25. 05. 1989

                        ROLE
                        Lead Designer

                        EMAIL
                        PHONE
                        WEBSITE
                        LOCATION
                        New York, USA

                        INTERESTS
                        Games, Books, Movies

                        SOCIAL
                    </p>
                    </div>
                </div>
            </div>
            <div class="sectio_4">
                <div class="dolchnost">
                    <div class="nazvanie">
                        <p>Experiences</p>
                        <p>Nunc sed blandit libero volutpat sed cras. Risus quis varius quam quisque id. Semper auctor neque vitae tempus quam pellentesque.</p>
                    </div>
                    <div class="textik">
                        <div class="data">
                            <p>September, 2016 – May, 2017</p>
                        </div>
                        <div class="opisanie">
                            <p>Junior Developer</p>
                            <p>Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring.</p>
                        </div>
                    </div>
                    <div class="textik">
                        <div class="data">
                            <p>September, 2016 – May, 2017</p>
                        </div>
                        <div class="opisanie">
                            <p>Junior Developer</p>
                            <p>Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring.</p>
                        </div>
                    </div>
                    <div class="textik">
                        <div class="data">
                            <p>September, 2016 – May, 2017</p>
                        </div>
                        <div class="opisanie">
                            <p>Junior Developer</p>
                            <p>Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring.</p>
                        </div>
                    </div>
                    <div class="textik">
                        <div class="data">
                            <p>September, 2016 – May, 2017</p>
                        </div>
                        <div class="opisanie">
                            <p>Junior Developer</p>
                            <p>Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring.</p>
                        </div>
                        <button>CONTACT ME</button>
                    </div>
                </div>
            </div>
            <div class="sectio_5">
                <div class="nazv">
                        <p>PRICING</p>
                        <p>Get yours today</p>
                        <p>I use software to help you scale your business operations, grow, and achieve more</p>
                </div>
            </div>
            <div class="sectio_6">
                <div class="blochik" >
                <div class="contentik-1">
                    <div class="vnytrynka">
                        <p>Development</p>
                        <p>App features</p>
                        <p>Prototyping</p>
                    </div>
                </div>
                <div class="contentik-2">
                    <div class="vnytrynka">
                        <p>Development</p>
                        <p>App features</p>
                        <p>Prototyping</p>
                    </div>
                </div>
                <div class="contentik-3">
                    <div class="vnytrynka">
                        <p>Development</p>
                        <p>App features</p>
                        <p>Prototyping</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="sectio_7">
                <div class="naziv">
                    <p>Software Development</p>
                </div>
                <div class="developer-block">
                    <div class="parametr">
                        <div class="conterntt-image">
                            <img src="../static/img/iphon.jpeg" class="image">
                        </div>
                        <div class="cotent-text">
                            <p>App Development</p>
                            <p>Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                        </div>
                    </div>
                </div>
                <div class="developer-block">
                    <div class="parametr">
                        <div class="conterntt-image">
                            <img src="../static/img/iphon.jpeg" class="image">
                        </div>
                        <div class="cotent-text">
                            <p>App Development</p>
                            <p>Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                        </div>
                    </div>
                </div>
                <div class="developer-block">
                    <div class="parametr">
                        <div class="conterntt-image">
                            <img src="../static/img/iphon.jpeg" class="image">
                        </div>
                        <div class="cotent-text">
                            <p>App Development</p>
                            <p>Etiam erat velit scelerisque in dictum non consectetur. Nisl purus in mollis nunc sed id semper. Cras fermentum odio eu feugiat pretium nibh ipsum. Tristique senectus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="dno">
            <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            <p>Website Templates created with Website Builder Software.</p>
        </footer>
    </body>
</html>