body{
    padding: 0;
    margin: 0 auto;
    border: 0;
}
.main{
    background-color: #e1b7bf
}
.head{
    background-color: #e1b7bf
}
.logo{
    padding-top: 2%;
    margin-left: 15%;
}
button{
    background-color: #c262af;
}
.naming{
    margin: auto 0 auto 0;
    font-family: 'Open Sans',sans-serif;
    display: block;
    flex-direction: column;
    vertical-align: middle;
}


.sectio_1{
    background-color: #e1b7bf;
    display: block;
    position: relative;
}
.chertochka{
    width: 111px;
    height: 6px;
    transform-origin: left center;
    margin: 0 auto 0 0;
    background-color: #59437a;
}

.naming-text{
    color: #59437a;
    font-size: 4em;
    font-family: Montserrat,sans-serif;
    margin: 0 auto;
}
.knopka1{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: #c262af;
}
.text-st{
     font-family: Montserrat,sans-serif;
}
.obtik{
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 500px;
    padding-right: 30px;
    padding-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-clip: padding-box;
    background-origin: padding-box;
}
.foto_dudu{
    padding: 24px 40px 0 ;
    justify-content: right;

}








.sectio_2{
    display: flex;
    background-color: #59437a;
    flex-wrap: wrap;
    justify-content: center;

}
.small-text{

}
.monik{
    font-family: Montserrat,sans-serif;
}
.stili_sans-serif{
    font-family: sans-serif;
    font-size: 1.125rem;
}
.white{
    color: white;
}
.otstup{
    line-height: 1.6;
}
.knopka{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: #c262af;
}
.left-block{
    flex: 1;
    text-align: left;
    margin: 40px 30px 40px 30px;
    padding: 30px 26px 30px 26px;

}
.rith-block{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 40px 30px 40px 30px;
    padding: 30px 26px 30px 26px;
    flex: 1;

}
.center-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 40px 30px 40px 30px;
    padding: 30px 26px 30px 26px;
}














.sectio_3{
    background-color: #e1b7bf;
    margin-top: 20px;
    display: grid;


}
.oblik{
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 716px;
    grid-gap: 32px;
    margin: 55px 400px 0 0;
    flex: 1;
    width: 515px;
}
.conteyner_1{
    margin: 30px;
}
.shapka{
    background-color: #59437a;
    height: 10px;
}
.content-chek{
    text-align: center;
    background-color: #ffffff;
}
.big-rith-blok{
    background-color: #59437a;
    margin: 20px;
}




.sectio_4{
    display: flex;
    justify-content: center;
}
.nazvanie{
    text-align: center;
}
.data{
    text-align: left;
    color: #59437a;
}
.dolch{
    font-size: 1.25rem;
}
.dolchk{
    font-size: 1rem;
}
.texit{
    font-size: 1.25rem;
    margin: 20px 0 0;
}
.opisanie{
    color: #59437a;
    text-align: left;
    width: 598px;
    min-height: 200px;
    height: auto;
    margin: -20px 0 0 auto;
}
.textik{
    text-align: center;
    display: flex;
}
.dolchnost{
    margin: 0 62.5px 0 62.5px;
}
.coloring{
    color: #59437a;
    font-family: 'Open Sans',sans-serif;
}
.pod-nam{
    font-size: 1.25rem;
    font-weight: 700;
    width: 724px;
    margin: 34px auto 0;
}
.ob{
   height: auto;
    width: 867px;
    margin: 34px auto 0;
}
.poloska{
    width: 100%;
    height: 2px;
    transform-origin: center;
    background-color: #59437a;
}
.sizee{
    font-size: 4.5rem;
    text-transform: none;
    font-weight: 700;
    margin: 60px auto 0;
}
.knop{
    text-align: center;
    justify-content: center;
}
.cnopka{
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: #c262af;
}


.sectio_5{
    background-color: #59437a;
    display: flex;
}
.nazv{
    text-align: center;
}






.sectio_6{
    display: flex;
    background-color: #59437a;
}
.blochik{
    text-align: center;
}







.sectio_7{
    display: flex;
}
.image{
    height: 250px;
    width: 250px;
}




.sectio_8{
    display: flex;
}
.left-blok-pink{
    background-color: #e1b7bf;
}
.rithe-blok-pink{
    background-color: #59437a;
}







footer{
    text-align: center;
    background-color: #333333;
}



